@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>This is Mohamed Wael</h1>
    <p>See <a href="https://bio.link/mohamedwelteir" target="_blank">my portfolio</a>.</p> <hr>
</div>


<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <p>I am a software engineer and I am interested in backend and I am a student at the faculty of science. Alexandria university</p>
</div>


<div class="text-center">
    <h1 class="display-4">My Skills</h1>
    <p>My skills are: C#, ASP.NET Core, HTML, CSS, JavaScript, SQL, Git, GitHub, and API design</p>
</div>

